<div class="box pl-4 pr-4">
  <app-navbar [current_page]="current_page"></app-navbar>
  <div class="row justify-content-center">
    <h1 class="text-center">à propos des potions de Mana</h1>
  </div>
  <div class="d-flex justify-content-center">
    <div style="max-width: 900px">
      <div class="row mt-3">
        <div class="col-12">
          <span markdown class="intro" [src]="'assets/text/about/intro.md'"></span>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 col-sm-6 mb-3 text-center">
          <img src="https://i.ibb.co/3MV5CkG/mana.jpg" alt="Champ de fleurs" class="img-fluid">
        </div>
        <div class="description col-12 col-sm-6 mb-3 pl-sm-3">
          <span markdown [src]="'assets/text/about/description1.md'"></span>
        </div>
        <div class="description col-12 mb-3">
          <span markdown [src]="'assets/text/about/description2.md'"></span>
        </div>
        <div class="description col-12 col-sm-6 mb-3 pr-sm-3">
          <span markdown [src]="'assets/text/about/description3.md'"></span>
        </div>
        <div class="col-12 col-sm-6 mb-3 text-center">
          <img src="https://i.ibb.co/VJXbr9J/bee.jpg" alt="Abeille butinant une fleur" class="img-fluid">
        </div>
        <div class="description col-12 mb-3">
          <span markdown [src]="'assets/text/about/description4.md'"></span>
        </div>
        <div class="col-12 col-sm-6 mb-3 text-center">
          <img src="https://i.ibb.co/56Y74gM/flower.jpg" alt="Récolte de plants" class="img-fluid">
        </div>
        <div class="description col-12 col-sm-6 mb-3 pl-sm-3">
          <span markdown [src]="'assets/text/about/description5.md'"></span>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
