<div class="box pl-4 pr-4 pb-5">
  <app-navbar [current_page]="current_page"></app-navbar>
  <div class="row content">
      <img src="https://i.ibb.co/phgQQL3/Potions-De-Mana.jpg" alt="Logo Les Potions de Mana" class="img-responsive center-block align-content-between mb-2">
    <div class="row">
      <div class="d-none d-sm-block col-1 col-lg-2"></div>
      <span class="description_home text-center col-12 col-sm-10 col-lg-8">Tisanes, sirops, aromates et fleurs comestibles locales, les Potions de Mana vous proposent de redécouvrir le goût plantes en infusion, fraiche ou transformées</span>
      <div class="d-none d-sm-block col-1 col-lg-2"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
